* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #0563bb;
  padding-right: 30px;
  padding-left: 30px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  header {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.logo a {
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.cart {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
  border-radius: 3px;
  width: 80px;
}

.cart-btn {
  cursor: pointer;
}

.cart p {
  height: 22px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0563bb;
  color: white;
  border-radius: 22px;
  cursor: pointer;
}

.del-btn {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  padding: 30px;
}

#root {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 992px) {
  #root {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  #root {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  #root {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.cart-menu {
  width: 60%;
  border-radius: 5px;
  background-color: #eee;
  margin-left: 20px;
  padding: 15px;
  text-align: center;
  display: none;
  position: fixed;
  top: 55px;
  right: 0;
  z-index: 10;
}

.cart-item p {
  margin: 0 7px;
}

@media (min-width: 992px) {
  .cart-menu {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .cart-menu {
    width: 70%;
  }
}

@media (max-width: 576px) {
  .cart-menu {
    width: 95%;
  }
  .cart-item p {
    font-size: 12px;
  }
  .cart-item h2 {
    font-size: 14px;
  }
  .foot h2 {
    font-size: 14px;
  }
}

.active {
  display: block;
}

.head {
  background-color: #0563bb;
  color: white;
  height: 40px;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.foot {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  margin: 20px 0px;
  border-top: 1px solid #333;
}

.foot h2 {
  margin: 0px 15px;
}

.foot h3 {
  margin: 0px 15px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #0563bb;
  border-radius: 5px;
  padding: 20px;
}

.img-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 90%;
  max-height: 90%;
  object-fit: cover;
}

.bottom {
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

h2 {
  font-size: 20px;
  color: #009688;
  margin: 8px 0;
}

button {
  width: 70%;
  border: none;
  background-color: #0563bb;
  border-radius: 5px;
  padding: 7px 25px;
  cursor: pointer;
  color: white;
  margin: 5px 0;
}

@media (max-width: 576px) {
  button {
    padding: 7px 10px;
    font-size: 11px;
  }
}

button:hover {
  background-color: #333;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #aaa;
  border-radius: 3px;
  margin: 10px;
}

.row-img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #0563bb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-image {
  max-width: 43px;
  max-height: 43px;
  border-radius: 50%;
}

.modal-overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.34);
  position: fixed;
  top: 0;
  left: 0;
  /* z-index: 15; */
}

.modal {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #0563bb;
  border-radius: 5px;
  padding: 15px;
  width: 400px;
  height: auto;
  z-index: 11;
}

.modal-image {
  width: 100%;
}

.modal-details p {
  margin: 8px 0;
}

@media (max-width: 576px) {
  .modal {
    width: 70%;
  }
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;
  background-color: #0563bb;
  color: white;
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}
